<section class="overflow-x-auto mt-4">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.fifaCode; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="country.flagSvg" [alt]="country.name" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ country.name }}</div>
              <div class="text-sm opacity-50">{{ country.region }}</div>
            </div>
          </div>
        </td>
        <td>
          {{ country.capital.name }}
          <br />
          <span class="badge badge-ghost badge-sm">
            {{
            country.capital.latitude < 0 
            ? `${-country.capital.latitude}° S` 
            : `${country.capital.latitude}° N` 
            }}
            {{
            country.capital.longitude < 0 
            ? `${-country.capital.longitude}° O` 
            : `${country.capital.longitude}° E` 
            }}
          </span>
        </td>
        <td>
          <span class="badge badge-secondary">
            {{ country.population | number }}
          </span>
        </td>
        <th>
          <a [routerLink]="['/country/by', country.fifaCode]" class="link-primary cursor-pointer">Más información</a>
        </th>
      </tr>
      }
    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</section>